html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    background-image: url("../bg-stone.png");
    background-position: center top;
    background-repeat: repeat-x;
    margin: 3px 0;
}

#page {
    margin: 0 auto;
    max-width: 500px;
}

.mozilla-infobar {
    text-align: center;
    background-color: #fff;
    min-height: 3em;
    line-height: 3em;
    font-size: 1.1em;
    padding-bottom: 3px;
}

.mozilla-infobar p,
.mozilla-infobar li {
    display: inline;
    margin: 0 0 0 1em;
}

.mozilla-infobar ul {
    display: inline;
    margin: 0;
    list-style-type: none;
}

.mozilla-infobar button {
    background-color: transparent;
    padding: .3em;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: .8em;
}

.infobar-hidden {
    display: none;
}

#tabzilla:before {
    background-color: #bbb;
}

header {
    padding: 60px 0 20px 0;
}

#logo {
    display: inline-block;
    padding-top: 20px;
}

#download-box {
    display: inline-block;
    float: right;
    margin-top: 32px;
    text-align: center;
}

.download-other {
    font-size: 11px;
    text-align: center;
    margin-top: 6px;
    color: #bbb;
}

.download-other a {
    color: #bbb;
}

dl {
    margin: 1.3em 0 40px 0;
}

dl dt {
    font-weight: bold;
    font-size: 1.4em;
}

dl dd {
    margin: .5em 0 1em 1em;
}

footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #bbb;
    font-size: 0.857em;
    overflow: hidden;
    padding: 28px 0;
    text-align: center;
}

@media (max-width: 500px) {
    #page {
        margin: 0 1em;
    }
    
    #logo, #logo img, #download-box {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #download-box {
        float: none;
    }
}
