/* Top header */

#masthead {
    height: 3em;
}

#masthead .masthead-logo img {
    max-width: none;
}

.mozilla-infobar {
    padding-top: 1em;
    text-align: center;
}

.mozilla-infobar * {
    display: inline;
}

.mozilla-infobar button {
    padding: .3em;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: .8em;
}

.infobar-hidden {
    display: none;
}

/* Main area */

@media screen and (min-width: 760px) {
    main {
        padding-top: 3em;
    }
}

.main-header-section {
    min-height: 0;
    padding: 0;
    text-align: center;
}

.main-header-section > * {
    padding-top: 3em;
}

.main-header-section h1 {
    background: none;
    margin: 0;
    padding: 0;
}

.firefox-wordmark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.firefox-wordmark img {
    height: 2em;
    margin-right: 0.2em;
}

.main-header-section .fx-privacy-link {
    padding-top: 1em;
}

/* Links in sections */

.page-section {
    padding-top: 0;
}

.page-section > div {
    margin-bottom: 2em;
}

@media screen and (min-width: 1000px) {
    .page-section .content {
        min-height: 14em;
        display: flex;
        align-items: center;
    }

    .page-section > div:nth-child(2n) .content {
        flex-direction: row-reverse;
    }

    .page-section .content .section-media {
        margin: 0 auto;
    }
}

@media screen and (max-width: 999px) {
    .page-section a.content {
        display: block;
    }
}

.page-section a.content {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

.page-section > div:hover {
    box-shadow: 0 0 0.5em #333;
}

.page-section .section-content h2 {
    text-decoration: none;
    color: inherit;
}

.page-section .section-media {
    text-align: center;
}

.page-section .section-media img {
    box-shadow: none;
    height: 150px;
}

.page-section #firefox {
    background: #003eaa linear-gradient(to left, #003eaa 0, #004ec2 50%, #0080ff 100%);
    color: #fff;
}

.page-section #firefox .section-title::before {
    background: #fff;
}

.page-section #komunita {
    background: #904466 linear-gradient(135deg, #fff 0, #ec1C24 35%, #1b75bb 100%);
}

.page-section #doplnky {
    background: #0f1126;
    color: #fff;
}

.page-section #doplnky .section-title::before {
    background: #fff;
}

.page-section > div:not([class]) {
    background: #00feff linear-gradient(to left, #00feff 0, #10fcb2 67%, #24f954 100%);
}

/* Footer */

#colophon .logo a {
    background: none;
    display: inline;
}

#colophon .logo img {
    height: 2em;
}

#colophon .social {
    text-align: center;
}

#colophon .social img {
    margin: 0 0.2em;
    height: 2em;
}
