#masthead {
    height: 3em;
}

.mozilla-infobar {
    padding-top: 1em;
    text-align: center;
}

.mozilla-infobar * {
    display: inline;
}

.mozilla-infobar button {
    padding: .3em;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: .8em;
}

.infobar-hidden {
    display: none;
}

main {
    padding-top: 3em;
}

.main-header-section {
    text-align: center;
    padding-top: 0;
    min-height: 0;
}

.main-header-section > * {
    padding-top: 3em;
}

.main-header-section h1 {
    background: none;
    margin: 0;
    padding: 0;
}

.main-header-section h1 img {
    height: 90px;
}

.main-header-section .fx-privacy-link {
    padding-top: 1em;
}

.main-header-section .header-image {
    top: 3em;
}

.main-header-section .header-image img {
    width: auto;
}

@media screen and (max-width: 1000px) {
    .main-header-section .header-content {
        float: none;
        width: auto;
    }
    .main-header-section .header-image {
        position: static;
        width: auto;
    }
    .main-header-section .header-image img {
        display: inline;
    }
}

@media screen and (min-width: 1000px) {
    .key-features-section .key-feature .key-feature-content {
        width: 50%;
    }
    .key-features-section .key-feature .key-feature-content p {
        margin: 0;
    }
    .key-features-section .key-feature .key-feature-media {
        width: 45%;
        margin: 0;
        text-align: center;
    }
}

.page-section {
    padding-top: 0;
}

.key-features-section .key-feature {
    margin: 0 0 2em 0;
}

.key-features-section .key-feature .content {
    padding: 0;
}

.key-features-section .key-feature .key-feature-container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.key-features-section .key-feature .key-feature-media,
.key-features-section .key-feature .key-feature-media * {
    height: 150px;
}

#colophon .logo a {
    background: none;
    display: inline;
}

#colophon .logo img {
    height: 2em;
}

#colophon .social {
    text-align: center;
}

#colophon .social img {
    margin: 0 0.2em;
    height: 2em;
}
